USE [master]
GO
/****** Object:  Database [QuanLyThuVien_K235480106081]    Script Date: 24/04/2026 6:33:28 CH ******/
CREATE DATABASE [QuanLyThuVien_K235480106081]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuVien_K235480106081', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.K235480106081\MSSQL\DATA\QuanLyThuVien_K235480106081.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuVien_K235480106081_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.K235480106081\MSSQL\DATA\QuanLyThuVien_K235480106081_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien_K235480106081].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien_K235480106081]
GO
/****** Object:  UserDefinedFunction [dbo].[ThongKePhieuMuon]    Script Date: 24/04/2026 6:33:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ThongKePhieuMuon]()
RETURNS @KetQua TABLE (
    [MaPhieu] INT,
    [MaDocGia] INT,
    [TienPhat] INT,
    [DanhGia] NVARCHAR(50)
)
AS
BEGIN
    INSERT INTO @KetQua
    SELECT 
        pm.[MaPhieu],
        pm.[MaDocGia],
        dbo.[TinhTienPhat](pm.[NgayMuon], pm.[NgayTra]),
        CASE 
            WHEN dbo.[TinhTienPhat](pm.[NgayMuon], pm.[NgayTra]) = 0 
                THEN N'Đúng hạn'
            ELSE N'Trễ hạn'
        END
    FROM [PhieuMuon] pm;

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[TinhTienPhat]    Script Date: 24/04/2026 6:33:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TinhTienPhat] (
    @NgayMuon DATE,
    @NgayTra DATE
)
RETURNS INT
AS
BEGIN
    DECLARE @SoNgayTre INT;
    DECLARE @TienPhat INT;

    SET @SoNgayTre = DATEDIFF(DAY, @NgayMuon, @NgayTra) - 15;

    IF (@SoNgayTre > 0)
        SET @TienPhat = @SoNgayTre * 5000;
    ELSE
        SET @TienPhat = 0;

    RETURN @TienPhat;
END;
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 24/04/2026 6:33:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] NOT NULL,
	[TenMoi] [nvarchar](200) NOT NULL,
	[TacGia] [nvarchar](100) NULL,
	[NamXuatBan] [int] NULL,
	[GiaTien] [decimal](10, 2) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[DanhSachSachCon]    Script Date: 24/04/2026 6:33:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DanhSachSachCon]
()
RETURNS TABLE
AS
RETURN
(
    SELECT *
    FROM [Sach]
    WHERE [SoLuong] > 0
);
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 24/04/2026 6:33:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDocGia] [int] NOT NULL,
	[TenDocGia] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[NgayDangKy] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 24/04/2026 6:33:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[MaPhieu] [int] NOT NULL,
	[MaDocGia] [int] NULL,
	[MaSach] [int] NULL,
	[NgayMuon] [date] NULL,
	[NgayTra] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 24/04/2026 6:33:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaTB] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieu] [int] NULL,
	[NoiDung] [nvarchar](255) NULL,
	[NgayThongBao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DocGia] ([MaDocGia], [TenDocGia], [NgaySinh], [SoDienThoai], [Email], [NgayDangKy]) VALUES (1, N'Thùy Trang', CAST(N'2005-12-10' AS Date), N'0325449851', N'abcxyz@gmail.com', CAST(N'2024-10-03' AS Date))
INSERT [dbo].[DocGia] ([MaDocGia], [TenDocGia], [NgaySinh], [SoDienThoai], [Email], [NgayDangKy]) VALUES (2, N'Ngân Hạnh', CAST(N'2004-05-02' AS Date), N'0546112358', N'jqkmni@.com', CAST(N'2024-04-06' AS Date))
INSERT [dbo].[DocGia] ([MaDocGia], [TenDocGia], [NgaySinh], [SoDienThoai], [Email], [NgayDangKy]) VALUES (3, N'Ngọc Bích', CAST(N'2005-12-12' AS Date), N'0456887925', N'1243rgst@.com', CAST(N'2024-12-01' AS Date))
GO
INSERT [dbo].[PhieuMuon] ([MaPhieu], [MaDocGia], [MaSach], [NgayMuon], [NgayTra], [TrangThai]) VALUES (1, 1, 111, CAST(N'2026-04-04' AS Date), CAST(N'2026-04-24' AS Date), N'Trễ hạn')
INSERT [dbo].[PhieuMuon] ([MaPhieu], [MaDocGia], [MaSach], [NgayMuon], [NgayTra], [TrangThai]) VALUES (2, 3, 113, CAST(N'2026-04-19' AS Date), CAST(N'2026-04-24' AS Date), N'Đúng hạn')
GO
INSERT [dbo].[Sach] ([MaSach], [TenMoi], [TacGia], [NamXuatBan], [GiaTien], [SoLuong]) VALUES (111, N'Khoa học', N'Trần Hoảng', 2015, CAST(80000.00 AS Decimal(10, 2)), 98)
INSERT [dbo].[Sach] ([MaSach], [TenMoi], [TacGia], [NamXuatBan], [GiaTien], [SoLuong]) VALUES (112, N'Lịch sử', N'Trần Anh Tông', 2013, CAST(100000.00 AS Decimal(10, 2)), 59)
INSERT [dbo].[Sach] ([MaSach], [TenMoi], [TacGia], [NamXuatBan], [GiaTien], [SoLuong]) VALUES (113, N'dạy kon', N'Trần Thuyên', 2018, CAST(89000.00 AS Decimal(10, 2)), 8)
GO
SET IDENTITY_INSERT [dbo].[ThongBao] ON 

INSERT [dbo].[ThongBao] ([MaTB], [MaPhieu], [NoiDung], [NgayThongBao]) VALUES (1, 1, N'Phiếu 1 đã trễ hạn! Vui lòng trả sách.', CAST(N'2026-04-24T18:28:59.240' AS DateTime))
INSERT [dbo].[ThongBao] ([MaTB], [MaPhieu], [NoiDung], [NgayThongBao]) VALUES (2, 2, N'Phiếu 2 đã trả đúng hạn. Cảm ơn bạn!', CAST(N'2026-04-24T18:28:59.240' AS DateTime))
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_DocGia] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_DocGia]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_Sach]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [CK_TrangThai] CHECK  (([TrangThai]=N'Đúng hạn' OR [TrangThai]=N'Trễ hạn' OR [TrangThai]=N'Đã trả' OR [TrangThai]=N'Đang mượn'))
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [CK_TrangThai]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[DanhSachPhieuMuonChiTiet]    Script Date: 24/04/2026 6:33:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DanhSachPhieuMuonChiTiet]
AS
BEGIN
    SELECT 
        pm.[MaPhieu],
        dg.[TenDocGia],
        s. [TenMoi],
        pm.[NgayMuon],
        pm.[NgayTra],
        dbo.[TinhTienPhat](pm.[NgayMuon], pm.[NgayTra]) AS [TienPhat]
    FROM [PhieuMuon] pm
    JOIN [DocGia] dg 
        ON pm.[MaDocGia] = dg.[MaDocGia]
    JOIN [Sach] s 
        ON pm.[MaSach] = s.[MaSach];
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemDocGia]    Script Date: 24/04/2026 6:33:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemDocGia]
    @MaDocGia INT,
    @TenDocGia NVARCHAR(100),
    @Email VARCHAR(100)
AS
BEGIN
    -- Kiểm tra trùng mã độc giả
    IF EXISTS (SELECT 1 FROM [DocGia] WHERE [MaDocGia] = @MaDocGia)
    BEGIN
        PRINT N'Mã độc giả đã tồn tại!';
        RETURN;
    END

    -- Kiểm tra email hợp lệ
    IF (@Email NOT LIKE '%@%')
    BEGIN
        PRINT N'Email không hợp lệ!';
        RETURN;
    END

    -- Thực hiện thêm dữ liệu
    INSERT INTO [DocGia] ([MaDocGia], [TenDocGia], [Email])
    VALUES (@MaDocGia, @TenDocGia, @Email);

    PRINT N'Thêm độc giả thành công!';
END;
GO
/****** Object:  StoredProcedure [dbo].[TinhTongTienPhat]    Script Date: 24/04/2026 6:33:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TinhTongTienPhat]
    @MaDocGia INT,
    @TongTien INT OUTPUT
AS
BEGIN
    SELECT @TongTien = SUM(dbo.[TinhTienPhat]([NgayMuon], [NgayTra]))
    FROM [PhieuMuon]
    WHERE [MaDocGia] = @MaDocGia;

    IF (@TongTien IS NULL)
        SET @TongTien = 0;
END;
GO
USE [master]
GO
