USE [master]
GO
/****** Object:  Database [QuanLyCamDo]    Script Date: 08/05/2026 10:20:12 CH ******/
CREATE DATABASE [QuanLyCamDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCamDo', FILENAME = N'D:\HequanTri\QuanLyCamDo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCamDo_log', FILENAME = N'D:\HequanTri\QuanLyCamDo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCamDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCamDo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 08/05/2026 10:20:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyContract]
(
    @MaHD INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @TienGoc DECIMAL(18,2)
    DECLARE @NgayVay DATE
    DECLARE @Deadline1 DATE

    DECLARE @SoNgay INT
    DECLARE @SoNgayQuaHan INT

    DECLARE @LaiDon DECIMAL(18,2)
    DECLARE @TongTien DECIMAL(18,2)

    DECLARE @Rate FLOAT = 0.005

    SELECT
        @TienGoc = TienGoc,
        @NgayVay = NgayVay,
        @Deadline1 = Deadline1
    FROM HOPDONG
    WHERE MaHD = @MaHD

    IF @TargetDate <= @Deadline1
    BEGIN
        SET @SoNgay = DATEDIFF(DAY, @NgayVay, @TargetDate)

        SET @LaiDon =
            (@TienGoc / 1000000.0)
            * 5000
            * @SoNgay

        SET @TongTien = @TienGoc + @LaiDon
    END
    ELSE
    BEGIN
        SET @SoNgay = DATEDIFF(DAY, @NgayVay, @Deadline1)

        SET @LaiDon =
            (@TienGoc / 1000000.0)
            * 5000
            * @SoNgay

        SET @SoNgayQuaHan =
            DATEDIFF(DAY, @Deadline1, @TargetDate)

        SET @TongTien =
            (@TienGoc + @LaiDon)
            * POWER(1 + @Rate, @SoNgayQuaHan)
    END

    RETURN @TongTien
END
GO
/****** Object:  Table [dbo].[CHITIETCAMDO]    Script Date: 08/05/2026 10:20:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETCAMDO](
	[MaHD] [int] NOT NULL,
	[MaTS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 08/05/2026 10:20:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayVay] [date] NULL,
	[TienGoc] [decimal](18, 2) NULL,
	[Deadline1] [date] NULL,
	[Deadline2] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[TongDaTra] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 08/05/2026 10:20:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[CCCD] [varchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUTHANHTOAN]    Script Date: 08/05/2026 10:20:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUTHANHTOAN](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[NgayTra] [date] NULL,
	[SoTienTra] [decimal](18, 2) NULL,
	[NguoiThu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAISAN]    Script Date: 08/05/2026 10:20:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAISAN](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[TenTS] [nvarchar](100) NULL,
	[GiaTriDinhGia] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETCAMDO] ([MaHD], [MaTS]) VALUES (1, 1)
INSERT [dbo].[CHITIETCAMDO] ([MaHD], [MaTS]) VALUES (4, 4)
INSERT [dbo].[CHITIETCAMDO] ([MaHD], [MaTS]) VALUES (5, 5)
GO
SET IDENTITY_INSERT [dbo].[HOPDONG] ON 

INSERT [dbo].[HOPDONG] ([MaHD], [MaKH], [NgayVay], [TienGoc], [Deadline1], [Deadline2], [TrangThai], [TongDaTra]) VALUES (1, 1, CAST(N'2026-05-08' AS Date), CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-05-18' AS Date), CAST(N'2026-05-28' AS Date), N'Quá hạn (nợ xấu)', CAST(10000000.00 AS Decimal(18, 2)))
INSERT [dbo].[HOPDONG] ([MaHD], [MaKH], [NgayVay], [TienGoc], [Deadline1], [Deadline2], [TrangThai], [TongDaTra]) VALUES (2, 1, CAST(N'2026-05-01' AS Date), CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-05-10' AS Date), CAST(N'2026-05-20' AS Date), N'Quá hạn (nợ xấu)', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[HOPDONG] ([MaHD], [MaKH], [NgayVay], [TienGoc], [Deadline1], [Deadline2], [TrangThai], [TongDaTra]) VALUES (3, 1, CAST(N'2026-05-01' AS Date), CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-05-10' AS Date), CAST(N'2026-05-20' AS Date), N'đã thanh toán', CAST(1000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[HOPDONG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [SDT], [CCCD], [DiaChi]) VALUES (1, N'Nguyễn Văn A', N'0988888888', N'123456789', N'Thái Nguyên')
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [SDT], [CCCD], [DiaChi]) VALUES (2, N'Nguyễn Văn A', N'0988888888', N'111111111', N'Thái Nguyên')
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [SDT], [CCCD], [DiaChi]) VALUES (3, N'Trần Văn B', N'0977777777', N'222222222', N'Hà N?i')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LICHSUTHANHTOAN] ON 

INSERT [dbo].[LICHSUTHANHTOAN] ([MaTT], [MaHD], [NgayTra], [SoTienTra], [NguoiThu]) VALUES (1, 1, CAST(N'2026-05-08' AS Date), CAST(5000000.00 AS Decimal(18, 2)), N'Admin')
INSERT [dbo].[LICHSUTHANHTOAN] ([MaTT], [MaHD], [NgayTra], [SoTienTra], [NguoiThu]) VALUES (2, 1, CAST(N'2026-05-08' AS Date), CAST(10000000.00 AS Decimal(18, 2)), N'Admin')
INSERT [dbo].[LICHSUTHANHTOAN] ([MaTT], [MaHD], [NgayTra], [SoTienTra], [NguoiThu]) VALUES (3, 1, CAST(N'2026-05-08' AS Date), CAST(10000000.00 AS Decimal(18, 2)), N'Admin')
SET IDENTITY_INSERT [dbo].[LICHSUTHANHTOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[TAISAN] ON 

INSERT [dbo].[TAISAN] ([MaTS], [TenTS], [GiaTriDinhGia], [TrangThai]) VALUES (1, N'Laptop Dell', CAST(20000000.00 AS Decimal(18, 2)), N'Đang cầm cố')
INSERT [dbo].[TAISAN] ([MaTS], [TenTS], [GiaTriDinhGia], [TrangThai]) VALUES (2, N'Iphone 15 Pro Max', CAST(25000000.00 AS Decimal(18, 2)), N'Đang cầm cố')
INSERT [dbo].[TAISAN] ([MaTS], [TenTS], [GiaTriDinhGia], [TrangThai]) VALUES (3, N'Laptop Dell Gaming', CAST(30000000.00 AS Decimal(18, 2)), N'Đang cầm cố')
SET IDENTITY_INSERT [dbo].[TAISAN] OFF
GO
ALTER TABLE [dbo].[HOPDONG] ADD  DEFAULT ((0)) FOR [TongDaTra]
GO
ALTER TABLE [dbo].[CHITIETCAMDO]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONG] ([MaHD])
GO
ALTER TABLE [dbo].[CHITIETCAMDO]  WITH CHECK ADD FOREIGN KEY([MaTS])
REFERENCES [dbo].[TAISAN] ([MaTS])
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[LICHSUTHANHTOAN]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONG] ([MaHD])
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoHopDong]    Script Date: 08/05/2026 10:20:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TaoHopDong]
    @MaKH INT,
    @TienGoc DECIMAL(18,2),
    @Deadline1 DATE,
    @Deadline2 DATE
AS
BEGIN
    INSERT INTO HOPDONG(
        MaKH,
        NgayVay,
        TienGoc,
        Deadline1,
        Deadline2,
        TrangThai
    )
    VALUES(
        @MaKH,
        GETDATE(),
        @TienGoc,
        @Deadline1,
        @Deadline2,
        N'Đang vay'
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThanhToan]    Script Date: 08/05/2026 10:20:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThanhToan]
    @MaHD INT,
    @SoTienTra DECIMAL(18,2),
    @NguoiThu NVARCHAR(100)
AS
BEGIN
    DECLARE @TongNo DECIMAL(18,2)
    DECLARE @DaTra DECIMAL(18,2)
    DECLARE @ConNo DECIMAL(18,2)

    SELECT @TongNo =
        dbo.fn_CalcMoneyContract(
            @MaHD,
            GETDATE()
        )

    SELECT @DaTra = TongDaTra
    FROM HOPDONG
    WHERE MaHD = @MaHD

    SET @ConNo =
        @TongNo - @DaTra - @SoTienTra

    INSERT INTO LICHSUTHANHTOAN(
        MaHD,
        NgayTra,
        SoTienTra,
        NguoiThu
    )
    VALUES(
        @MaHD,
        GETDATE(),
        @SoTienTra,
        @NguoiThu
    )

    UPDATE HOPDONG
    SET TongDaTra = TongDaTra + @SoTienTra
    WHERE MaHD = @MaHD

    IF @ConNo <= 0
    BEGIN
        UPDATE HOPDONG
        SET TrangThai = N'Đã thanh toán'
        WHERE MaHD = @MaHD

        UPDATE TAISAN
        SET TrangThai = N'Đã trả khách'
        WHERE MaTS IN (
            SELECT MaTS
            FROM CHITIETCAMDO
            WHERE MaHD = @MaHD
        )
    END
    ELSE
    BEGIN
        UPDATE HOPDONG
        SET TrangThai = N'Đang trả góp'
        WHERE MaHD = @MaHD
    END
END
GO
USE [master]
GO
